.venv/
__pycache__/
*.pyc
.vscode/

# Dataset
/DOWNLOADED_DATA/
/backend/data/processed_lightcurves_FINAL.csv

# Construction scripts
/backend/01_build_dataset_from_local.py
/backend/02_train_model.py
